* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    padding: 8px 12px;
}

form {
    margin-top: 1.5rem;
}

button {
    padding: 8px 12px;
    margin-left: 10px;
}

.buttons {
    margin-top: 1rem;
}

ul {
    margin: 1.5rem 0;
}